{% for ben in bens_list%}
	{% if 'auth.ben view by org' in perms or 'auth.ben view in geo' in perms and not is_capture_app %}
		<tr class="table_row_clickable" href="/beneficiary/view_ben?beneficiary_id={{ben.pk_id}}" style="cursor:pointer">
	   		<td>{{ ben.beneficiary_id }}</td>
	   		<td>{{ ben.name }}</td>
	   		<td>{{ ben.date_of_birth }}</td>
	   		<td>{{ ben.sex }}</td>
	   		<td>{{ ben.person_type }}</td>
	   		<td>{{ ben.community }}</td>
	   		<td>{{ ben.ward }}</td>
	   		<td>{{ ben.district }}</td>
	   	</tr>
	{% else %}
		<tr class="None" style="None">
	   		<td>{{ ben.beneficiary_id }}</td>
	   		<td>{{ ben.name }}</td>
	   		<td>{{ ben.date_of_birth }}</td>
	   		<td>{{ ben.sex }}</td>
	   		<td>{{ ben.person_type }}</td>
	   		<td>{{ ben.community }}</td>
	   		<td>{{ ben.ward }}</td>
	   		<td>{{ ben.district }}</td>
	   	</tr>
	{% endif %}
   	{% endfor %}