{% extends "main_base.html" %}
{% load crispy_forms_tags %}
{% block page_title %}{{ app_name }} | Child {% endblock %}
{% block navbar_class_dashboard %}{% endblock %}
{% block navbar_class_registries %}active{% endblock %}
{% block navbar_class_beneficiary %}active{% endblock %}

{% block body_page_title %} <i class="fa fa-plus fa-6"></i> Beneficiary {% endblock %}
{% block breadcrum %}
<li class="hidden"><a href="#">Beneficiary</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                    <li>Beneficiary</li>
{% endblock breadcrum %}

{% block content %}

        <div class="container">
            <div class="row">
            
				{% crispy form %}
			</div>
		</div>


<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
	
<script>
$(document).ready(function() {
	
	$("#id_date_of_birth").datepicker(
    {
        maxDate: 0,
        minDate: '-18Y',
        dateFormat: 'd MM, yy',
        yearRange: "1904:2030",
        changeMonth: true,
        changeYear: true
    });
	
	$("#id_location_change_date").datepicker(
    {
    	maxDate: 0,
    	dateFormat: 'd-MM-yy',
        yearRange: "1904:2030",
        changeMonth: true,
        changeYear: true
    });
    
    $("#id_guardian_change_date").datepicker(
    {
    	maxDate: 0,
    	dateFormat: 'd-MM-yy',
        yearRange: "1904:2030",
        changeMonth: true,
        changeYear: true
    });
    
    $("#id_date_paper_form_filled").datepicker(
    {
    	maxDate: 0,
    	dateFormat: 'd-MM-yy',
        yearRange: "1904:2030",
        changeMonth: true,
        changeYear: true
    });
    
    $("#id_date_of_death").datepicker(
    {
    	maxDate: 0,
    	dateFormat: 'd-MM-yy',
        yearRange: "1904:2030",
        changeMonth: true,
        changeYear: true
    });
    
     $("input[id='id_no_adult_guardians']").on('ifChecked',function(){
 		$('.guardian_controls').hide();
     });
     $("input[id='id_no_adult_guardians']").on('ifUnchecked',function(){
    	$('.guardian_controls').show();
    });
    
    if($("#id_date_of_death").val() == "")
    {
    	$('.dead_control').hide();
    }
    
    var today = new Date();
    var month = new Array();
    month[0] = "January";
    month[1] = "February";
    month[2] = "March";
    month[3] = "April";
    month[4] = "May";
    month[5] = "June";
    month[6] = "July";
    month[7] = "August";
    month[8] = "September";
    month[9] = "October";
    month[10] = "November";
    month[11] = "December";
    var currentMonth = month[today.getMonth()];
    var formattedDate = (today.getDate() + '-' + currentMonth + '-' + today.getFullYear());
    
    //$("#id_date_of_death").prop('max', validDate);
    
    $("input[id='id_edit_mode']").on('ifChecked',function(){
    	var selVal = $(this).val();
    	if(selVal == 2)
    	{
    		$('.dead_control').show();
    		$("#id_date_of_death").val(formattedDate);
    		$("#id_date_of_death").prop('required', true);
    		
		}
		else
		{
			$('.dead_control').hide();
			$("#id_date_of_death").val('');
			$("#id_date_of_death").prop('required', false);
		}
    });
    
    $("#id_date_of_birth").on('change',function(){
    //Calculate date diff in days: http://stackoverflow.com/questions/12003660/javascript-datediff
    //18 years calculated using: https://www.google.co.zm/webhp?sourceid=chrome-instant&ion=1&espv=2&es_th=1&ie=UTF-8#q=%3D+5843.88+days
          
          var entered_date = $("#id_date_of_birth").val();
          var selDate = new Date(entered_date);
          var today = new Date();
          var val = today - selDate;
          var diff = val / (24*60*60*1000);
          
          if(diff >= 5843.88)
          {
          	$('.nrc_control').show();
          }
          else
          {
          	$('.nrc_control').hide();
          }
    });
    
    if($("#id_community").val()=="")
    {
    	$("#id_community").empty();
		$("#id_community").append("<option value=''>-----</option>");
    }
    
    if($("#id_ben_ward").val()=="")
    {
    	$("#id_ben_ward").empty();
    	$("#id_ben_ward").append("<option value=''>-----</option>");
    }
    
    //commented out for now
    //$('.loc_controls').on('change', function(){
      //  $("#id_location_change_date").prop('required', true);
    //});
    
    //$("#id_guardian").on('change',function(){
    	//$("#id_date_paper_form_filled").prop('required', true);
    //});
    
    //$( "#id_date_of_birth" ).datepicker( "option", "dateFormat", 'd MM, yy');
});       
                                
//$( "#id_date_of_birth" ).datepicker( "option", "dateFormat", 'd MM, yy' );
//$(function(event) {
//      $('input[name=mobile_phone_number]').keyup(function() {
//	     var curchr = this.value.length;
//	     var curval = $(this).val();
//	      if (curchr == 3) {
//	      	$('input[name=mobile_phone_number]').val("(+260) " + curval +"-");
//	      } else if (curchr == 10) {
//	      	$('input[name=mobile_phone_number]').val(curval + "-");
//	      }
//      	});
//      });
          
</script>


{% endblock content %}