{% extends "main_base.html" %}
{% load crispy_forms_tags %}
{% block page_title %}{{ app_name }} | Workforce {% endblock %}
{% block navbar_class_dashboard %}{% endblock %}
{% block navbar_class_registries %}active{% endblock %}
{% block navbar_class_workforce %}active{% endblock %}


{% block body_page_title %} <i class="fa fa-user fa-4"></i>  {{page_title}} {% endblock %}
{% block breadcrum %}
<li class="hidden"><a href="#">New Workforce</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
<li>New Workforce</li>
{% endblock breadcrum %}


{% block content %}

<div class="container">
    <div class="row">

        {% crispy form %}
    </div>
</div>




<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>	
<script>
$(document).ready(function () {
    if ($("#id_date_of_death").val() == '') {
        $("#div_id_date_of_death").hide();
    }
    $('.datepicker').datepicker(
            {
                //minDate: "-18Y",
                dateFormat: 'd-MM-yy',
                yearRange: "1904:2050",
                maxDate: 0,
                changeMonth: true,
                changeYear: true
            });

    $("input[id='id_edit_mode']").on('ifChecked', function () {
        var selVal = $(this).val();
        if (selVal == 2)
        {
            $("#div_id_date_of_death").show();
        }
        else
        {
            $("#div_id_date_of_death").hide();
            $("#id_date_of_death").val('');
        }
    });
});
//TODO add the default year -18Y
</script>
{% endblock content %}