{% for org in orgs_list%}
   	<tr class="table_row_clickable" href="/organisation/view_org?organisation_id={{org.org_system_id}}" style="cursor:pointer">
   		
   		<td>{{ org.org_id }}{%if not org.is_active%} <span class="badge">closed</span>{%endif%}</td>
   		<td>{{ org.org_name|truncatechars:40 }}</td>
   		<td>{{ org.unit_type_name|truncatechars:40 }}</td>
   		<td>{{ org.parent_organisation_name }}</td>
   		<td>{{ org.location }}</td>
   	</tr>
   	{% endfor %}