{% for org in orgs_list%}
   	<tr class="table_row_clickable" href="/organisation/view_org?organisation_id={{org.org_system_id}}" style="cursor:pointer">
   		<td><input type="checkbox" class="checkall"/></td>
   		<td>{{ org.org_id }}</td>
   		<td>{{ org.name }} {%if not org.is_active%} <span class="badge">closed</span>{%endif%}</td>
   		<td>{{ org.unit_type_name }}</td>
   		<td>{{ org.parent_organisation_name }}</td>
   	</tr>
   	{% endfor %}