{% extends "main_base.html" %}

{% block page_title %}{{ app_name }} | Organisation Search{% endblock %}
{% block navbar_class_dashboard %}{% endblock %}
{% block navbar_class_registries %}active{% endblock %}
{% block navbar_class_org_unit %}active{% endblock %}

{% block body_page_title %} <i class="fa fa-university fa-4"></i>  Organisation Unit Search {% endblock %}
{% block breadcrum %}
<li class="hidden"><a href="#">Organisation Unit Search</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                    <li>Organisation Unit Search</li>
{% endblock breadcrum %}
{% block content %}


<form class="form-inline" role="form">
	{% if 'auth.org lookup' in perms %}
	<div class="form-group col-md-4">

			<select data-style="btn-white" data-size="8" class="selectpicker form-control" name='orgtype' id='orgtype'>
		    	{% for id,type in org_types %}
		    		<option value={{id}}>{{type|truncatechars:60}}</option>
		    	{% endfor %}
			</select>

	</div>
  	<div class="form-group col-md-4">
    	<div class="input-group">

      			<input id="searchorgtxt" type="text" class="form-control input-large search-query" placeholder="Search Organisation Unit..."/>
      			<span class="input-group-btn">
      				<a type="button" id="searchbtn2" class="btn btn-primary searchbtn"><i class="fa fa-search"></i> Look up</a>
      			</span>
      			

    	</div>
    	<div class="col-md-5" style="margin-top:10px">
    		<input class="testcheckbox search_closed_org search_closed_org" name="search_closed_org" type="checkbox"/> 
    		<label for="search_closed_org">Include closed units</label>
    	</div>
    </div>
    {% endif %}
    {% if 'auth.update org special' in perms or 'auth.update org general' in perms or 'auth.update org contact' in perms%}
    <div class="form-group">

	
     <a href="/organisation/new/" class="btn btn-info"><i class="fa fa-plus"></i>
                                    New Organisational Unit...</a>
                                  
    </div>
    {% endif %}
 </form>

 <p>
 <div class="row">
                    <div class="col-lg-12">
                        <div class="portlet box">
                            <div class="portlet-header">
                                

                            </div>
                            <div class="portlet-body">
                                <div class="row mbm">
                                    <div class="col-lg-12">
                                        <div style="display: none;" class="alert alert-danger tb-alert-error">
                                            <button type="button" data-dismiss="alert" aria-hidden="true" class="close">&times;</button>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        </div>
                                        <div style="display: none" class="alert alert-success tb-alert-success">
                                            <button type="button" data-dismiss="alert" aria-hidden="true" class="close">&times;</button>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        </div>
                                    </div>
                                </div>

                
                                <div class="row mbm">
                                    <div class="col-lg-6">
                                        <div class="pagination-panel">Page
                                            &nbsp;<a href="#" class="btn btn-sm btn-default btn-prev gw-prev disabled"><i class="fa fa-angle-left"></i></a>&nbsp;<input type="text" maxlenght="5" value="{{pageinfo.pagenumber}}" class="pagination-panel-input form-control input-mini input-inline input-sm text-center gw-page" disabled="disabled"/>&nbsp;
                                            {% if pageinfo.pagescount == 1%}
                                            <a href="#" class="btn btn-sm btn-default btn-prev gw-next disabled"><i class="fa fa-angle-right"></i></a>&nbsp;
                                            {% else %}
                                            <a href="#" class="btn btn-sm btn-default btn-prev gw-next"><i class="fa fa-angle-right"></i></a>&nbsp;
                                            {% endif %}
                                            of&nbsp;<label class="countpages"> {{pageinfo.pagescount}} </label>&nbsp; page(s)
                                            &nbsp;| View <select class="form-control input-xsmall input-sm input-inline gw-pageSize">
                                                <option value="25" selected="selected">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                                <option value="150">150</option>
                                                <option value="-1">All</option>
                                            </select>&nbsp;
                                           <span class="searching" style="display:none"><i class="fa fa-spinner fa-spin"></i>...</span> |&nbsp; <label class="totalrecords"> {{pageinfo.total_records}} Organisation(s) found</label>
                                        </div>
                                    </div>
                                    
                                </div>
                                <table class="table table-hover table-striped table-bordered table-advanced tablesorter orgresults" id="orgresults">
                                    <thead>
                                    <tr>
                                        
                                        <th>Organisation Unit ID</th>
                                        <th>Organisation Unit Name</th>
                                        <th>Unit Type</th>
                                        <th>Primary Parent</th>
                                        <th>Location</th>
                                    </tr>
                                   	</thead>
                                   	<tbody class="tbodyresults">
                                   	{% if not orgs_list %}
                                   	<tr><td colspan="5">no results</td></tr>
                                   	{% else %}
                                   	{% include "ovc_main/org_table_json.html" %}
                                   	{% endif %}
                                    </tbody>
                                </table>
                                

                                
                                
                                <div class="row mbm">
                                    <div class="col-lg-6">
                                        <div class="pagination-panel">Page
                                            &nbsp;<a href="#" class="btn btn-sm btn-default btn-prev gw-prev disabled"><i class="fa fa-angle-left"></i></a>&nbsp;<input type="text" maxlenght="5" value="{{pageinfo.pagenumber}}" class="pagination-panel-input form-control input-mini input-inline input-sm text-center gw-page" disabled/>&nbsp;
                                             {% if pageinfo.pagescount == 1%}
                                            <a href="#" class="btn btn-sm btn-default btn-prev gw-next disabled"><i class="fa fa-angle-right"></i></a>&nbsp;
                                            {% else %}
                                            <a href="#" class="btn btn-sm btn-default btn-prev gw-next"><i class="fa fa-angle-right"></i></a>&nbsp;
                                            {% endif %}
                                            of&nbsp;<label class="countpages"> {{pageinfo.pagescount}} </label>&nbsp; page(s)
                                            &nbsp;| View<select class="form-control input-xsmall input-sm input-inline gw-pageSize">
                                                <option value="25" selected="selected">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                                <option value="150">150</option>
                                                <option value="-1">All</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


{% endblock content %}
{% block scripts %}
<script>
$(document).ready(function () {
    $('.testcheckbox').iCheck({
        checkboxClass: 'state icheckbox_minimal-green hover',
        radioClass: 'state icheckbox_minimal-green hover',
        increaseArea: '20%' // optional
    });
});
</script>
{% endblock scripts %}
