{% extends "main_base.html" %}
{% load crispy_forms_tags %}
{% block page_title %}{{ app_name }} | Child {% endblock %}
{% block navbar_class_dashboard %}{% endblock %}
{% block navbar_class_registries %}active{% endblock %}
{% block navbar_class_beneficiary %}active{% endblock %}

{% block body_page_title %} View Details - OVC Child{% endblock %}
{% block breadcrum %}
<li class="hidden"><a href="#">OVC Child - View Details</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                    <li>OVC Child - View Details</li>
{% endblock breadcrum %}
{% block content %}
	<div class="form-horizontal">
		<div class="note note-info">
			<h4><strong>OVC Child - View Details</strong></h4>
		</div></p>
		
		<div class="multiField">
			<div class="panel panel-pink" >
				<div class="panel-body pan" ><p/> 
				<div id="div_id_zomis_id" class="form-group">
						<label for="id_zomis_id" class="control-label col-md-3">ZOMIS beneficiary ID:</label>
						<div class="col-md-6">
					      <p class="form-control-static"><strong>{{beneficiary.beneficiary_id}}</strong></p>
					    </div>
						
					</div>
					<div id="div_id_birth_cert_num" class="form-group">
						<label for="id_birth_cert_num" class="control-label col-md-3">Birth certificate registration number:</label>
						<div class="col-md-6">
					      <p class="form-control-static"><strong>{{beneficiary.birth_cert_num}}</strong></p>
					    </div>
					</div>
					<div id="div_id_national_id" class="form-group">
						<label for="id_national_id" class="control-label col-md-3">NRC number:</label>
						<div class="col-md-6">
					      <p class="form-control-static"><strong>{{beneficiary.national_id}}</strong></p>
					    </div>
					</div>
				</div>
			</div>
					
			<div class="panel panel-pink" >
				<div class="panel-heading" >
		       		Child personal details
				</div>
				<div class="panel-body pan" ><p/> 
					 <div id="div_id_first_name" class="form-group">
						<label for="id_first_name" class="control-label col-md-3">First name:</label>
						<div class="col-md-6">
					      <p class="form-control-static"><strong>{{beneficiary.first_name}}</strong></p>
					</div>
						
					</div>
					<div id="div_id_last_name" class="form-group">
						<label for="id_last_name" class="control-label col-md-3">Last name:</label>
						<div class="col-md-6">
					      <p class="form-control-static"><strong>{{beneficiary.last_name}}</strong></p>
					    </div>
					</div>
					
					<div id="div_id_other_name" class="form-group">
						<label for="id_other_name" class="control-label col-md-3">Other names:</label>
						<div class="col-md-6">
					      <p class="form-control-static"><strong>{{beneficiary.other_name}}</strong></p>
					    </div>
					</div>
					
					<div id="div_id_sex" class="form-group">
						<label for="id_sex" class="control-label col-md-3">Sex:</label>
						<div class="col-md-6">
					      <p class="form-control-static"><strong>{{beneficiary.sex}}</strong></p>
					    </div>
					</div>
					
					<div id="div_id_date_of_birth" class="form-group">
						<label for="id_date_of_birth" class="control-label col-md-3">Date of birth:</label>
						<div class="col-md-6">
					      <p class="form-control-static"><strong>{{beneficiary.date_of_birth|date:"d M Y"}}</strong></p>
					    </div>
					</div>
					
					<div id="div_id_STEPS_OVC_number" class="form-group">
						<label for="id_STEPS_OVC_number" class="control-label col-md-3">STEPS OVC number:</label>
						<div class="col-md-6">
					      <p class="form-control-static"><strong>{{beneficiary.steps_ovc_number}}</strong></p>
					    </div>
					</div>
					
				</div>
			</div>
			
			<div class="panel panel-grey" >
				<div class="panel-heading" >
				       Where the child lives
				</div>
				
				<div class="panel-body pan" ><p/> 
					<div id="div_id_residential_institution" class="form-group">
						<label for="id_residential_institution" class="control-label col-md-3">Residential institution</label>
						<div class="col-md-6">
					      <p class="form-control-static"><strong>{{beneficiary.residence.residential_institution}}</strong></p>
					    </div>						
					</div>
					
					<div id="div_id_district" class="form-group">
						<label for="id_district" class="control-label col-md-3">
								District:</label>
						<div class="col-md-6">
					      <p class="form-control-static"><strong>{{beneficiary.residence.district}}</strong></p>
					    </div>
					</div>
					
					<div id="div_id_ward" class="form-group">
						<label for="id_ward" class="control-label col-md-3">
								Ward:</label>
						<div class="col-md-6">
					      <p class="form-control-static"><strong>{{beneficiary.residence.ward}}</strong></p>
					    </div>
					</div>
					
					<div id="div_id_community" class="form-group">
						<label for="id_community" class="control-label col-md-3">
								Community (CWAC or GDCLSU):</label>
						<div class="col-md-6">
					      <p class="form-control-static"><strong>{{beneficiary.residence.community}}</strong></p>
					    </div>
					</div>
					
					<div id="div_id_physical_address" class="form-group">
						<label for="id_physical_address" class="control-label col-md-3">
								Physical address / Description of where living:</label>
						<div class="col-md-6">
					      <p class="form-control-static"><strong>{{beneficiary.contact.physical_address}}</strong></p>
					    </div>
					</div>
				</div>
			</div>
			
			<div class="panel panel-pink" >
				<div class="panel-heading" >
				       Child's Guardians
				</div>
			    <div class="panel-body" ><p/> 
			        <table class="table table-hover table-condensed">
			            <thead>
			                <tr>
			                	<th>#</th>
			                    <th>NRC or ZOMIS Beneficiary ID</th>
                                <th>Name</th>
                                <th>Notes on relationship with child</th>
			                </tr>
			            </thead>
			            <tbody>
			                {% for guardn in beneficiary.guardian %}
			                <tr>
			                    <td>{{forloop.counter}}</td>
			                    {% if guardn.no_guardian == "" %}
                        		<td>{{guardn.guardian}}</td>
			                    <td>{{guardn.guard_name}}</td>
			                    <td>{{guardn.notes_relationship}}</td>
                    			{% endif %}
			                    
			                    
			                </tr>
			                {% endfor %} 
			
			            </tbody>
			        </table>
			    </div>				
				
			</div>
			
			<div class="panel panel-grey" >
				<div class="panel-heading" >
				       Child's Contact Details
				</div>
					
					<div id="div_id_district" class="form-group">
						<label for="id_district" class="control-label col-md-3">
								Mobile Number:</label>
						<div class="col-md-6">
					      <p class="form-control-static"><strong>{{beneficiary.contact.mobile_phone_number}}</strong></p>
					    </div>
					</div>
					
					<div id="div_id_ward" class="form-group">
						<label for="id_ward" class="control-label col-md-3">
								Email Address:</label>
						<div class="col-md-6">
					      <p class="form-control-static"><strong>{{beneficiary.contact.email_address}}</strong></p>
					    </div>
					</div>
				</div>
			</div>
			
			<div class="panel panel-pink" >
				<div class="panel-heading" >
				       Paper Trail
				</div>
					
				<table id="paperTrailTable"  class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>Person recorded on paper</th>
                        <th>Paper date</th>
                        <th>Person recorded electronically</th>
                        <th>Electronic date time</th>
                        <th>Interface</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% if beneficiary.audit_trail  %}
                        {% for audit in beneficiary.audit_trail %}
                            <tr>
                                <td id = "1">{{ audit.Person_recorded_on_paper }}</td>
                                <td id = "2">{{ audit.Paper_date }}</td>
                                <td id = "3">{{ audit.Person_recorded_electronically }}</td>
                                <td id = "4">{{ audit.Electronic_date_time }}</td>
                                <td id = "5">{{ audit.Interface }}</td>
                            </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                                    
			</div>
			
	<div class="md-col-6" style="margin-left:41%">
	{% if 'auth.update ben special' in perms or 'auth.update ben contact by org' in perms or 'auth.update ben general by org' in perms %}
			<a type="button" href="/beneficiary/update_ben?beneficiary_id={{beneficiary.pk_id}}" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i> Edit...</a>
	{% endif %}
		<a type="button" href="/beneficiary/ben_search/" class="btn btn-success"><i class="fa fa-arrow-circle-o-left"></i> Go Back</a>
	</div>
</div>
{% endblock content %}