{% extends "main_base.html" %}

{% block page_title %}{{ app_name }} | Workforce Search{% endblock %}
{% block navbar_class_dashboard %}{% endblock %}
{% block navbar_class_registries %}active{% endblock %}
{% block navbar_class_workforce %}active{% endblock %}

{% block body_page_title %} <i class="fa fa-university fa-4"></i>  Workforce Member Search / user look up {% endblock %}
{% block breadcrum %}
<li class="hidden"><a href="#">Workforce Member Search</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
<li>Workforce Member Search</li>
{% endblock breadcrum %}
{% block content %}


<form class="form-inline" role="form">
    <div class="form-group col-md-4">

        <select data-style="btn-white" data-size="8" class="selectpicker form-control" name='wfctype' id='wfctype'>
            {% for item_id,item_description in wfc_types %}
            <option value={{item_id}}>{{item_description|truncatechars:60}}</option>
            {% endfor %}
        </select>

    </div>
    <div class="form-group">
        <div class="input-group">

            <input id="searchwfctxt" type="text" class="form-control input-large search-query" placeholder="Search workforce/user..."/><span class="input-group-btn"><a type="button" id="wfcsearchbtn" class="btn btn-primary searchbtn"><i class="fa fa-search"></i> Look up</a></span>

        </div>
    </div>
    {% if 'auth.reg wkf rel' in perms and not is_capture_app%}
    <div class="form-group">
        <a href="/workforce/new_workforce/" class="btn btn-info"><i class="fa fa-plus"></i>
            Register New</a>
    </div>
    {% endif %}
</form>
<p>
<div class="row">
    <div class="col-lg-12">
        <div class="portlet box">
            <div class="portlet-header">


            </div>
            <div class="portlet-body">
                <div class="row mbm">
                    <div class="col-lg-12">
                        <div style="display: none;" class="alert alert-danger tb-alert-error">
                            <button type="button" data-dismiss="alert" aria-hidden="true" class="close">&times;</button>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                        <div style="display: none" class="alert alert-success tb-alert-success">
                            <button type="button" data-dismiss="alert" aria-hidden="true" class="close">&times;</button>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                    </div>
                </div>
                <div class="row mbm">
                    <div class="col-lg-6">
                        <div class="pagination-panel">Page 
                            &nbsp;<a href="#" class="btn btn-sm btn-default btn-prev gw-prev disabled"><i class="fa fa-angle-left"></i></a>&nbsp;<input type="text" maxlenght="5" value="{{pageinfo.pagenumber}}" class="pagination-panel-input form-control input-mini input-inline input-sm text-center gw-page" disabled="disabled"/>&nbsp;
                            {% if pageinfo.pagescount == 1%}
                            <a href="#" class="btn btn-sm btn-default btn-prev gw-next disabled"><i class="fa fa-angle-right"></i></a>&nbsp;
                            {% else %}
                            <a href="#" class="btn btn-sm btn-default btn-prev gw-next"><i class="fa fa-angle-right"></i></a>&nbsp;
                            {% endif %}
                            of&nbsp;<label class="countpages"> {{pageinfo.pagescount}} </label>&nbsp; page(s)
                            &nbsp;| View <select class="form-control input-xsmall input-sm input-inline gw-pageSize">
                                <option value="25" selected="selected">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="150">150</option>
                                <option value="-1">All</option>
                            </select>&nbsp;
                            <span class="searching" style="display:none"><i class="fa fa-spinner fa-spin"></i>...</span> |&nbsp; <label class="totalrecords"> {{pageinfo.total_records}} member(s) found</label>

                        </div>
                    </div>
                    <div>
                        <span style="color:green"> <strong>{{pageinfo.success}}</strong> </span>
                    </div>
                </div>
                <table class="table table-hover table-striped table-bordered table-advanced tablesorter wfcresults" id="wfcresults">
                    <thead>
                        <tr>
                            <th>NRC or Workforce ID</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Primary Parent Org Unit</th>
                            <th>Geo links</th>
                            {% if not is_capture_app %}
                            <th>Actions</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody class="tbodyresults">
                        {% if not wfc_list %}
                        <tr><td colspan="5">no results</td></tr>
                        {% else %}
                        {% include "ovc_main/wfc_table_list.html" %}
                        {% endif %}
                    </tbody>
                </table>




                <div class="row mbm">
                    <div class="col-lg-6">
                        <div class="pagination-panel">Page
                            &nbsp;<a href="#" class="btn btn-sm btn-default btn-prev gw-prev disabled"><i class="fa fa-angle-left"></i></a>&nbsp;<input type="text" maxlenght="5" value="{{pageinfo.pagenumber}}" class="pagination-panel-input form-control input-mini input-inline input-sm text-center gw-page" disabled/>&nbsp;
                            {% if pageinfo.pagescount == 1%}
                            <a href="#" class="btn btn-sm btn-default btn-prev gw-next disabled"><i class="fa fa-angle-right"></i></a>&nbsp;
                            {% else %}
                            <a href="#" class="btn btn-sm btn-default btn-prev gw-next"><i class="fa fa-angle-right"></i></a>&nbsp;
                            {% endif %}
                            of&nbsp;<label class="countpages"> {{pageinfo.pagescount}} </label>&nbsp; page(s)
                            &nbsp;| View<select class="form-control input-xsmall input-sm input-inline gw-pageSize">
                                <option value="25" selected="selected">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="150">150</option>
                                <option value="-1">All</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
